h1 {
  text-align: center;
  color: black;
  font-family: "Times New Roman";
}

img {
  display: block;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
}

.contact-button {
  display: block;
  margin: 0 auto;
  width: 110px;
}
